/*===================Menu Bars Animation=====================//*/
.animate-top {
  -webkit-animation: top-bar 800ms 1 both;
          animation: top-bar 800ms 1 both;
}
.animate-middle {
  -webkit-animation: middle-bar 400ms 1 both;
          animation: middle-bar 400ms 1 both;
}
.animate-bottom {
  -webkit-animation: bottom-bar 800ms 1 both;
          animation: bottom-bar 800ms 1 both;
}
/*===================Keyframes=====================//*/
@-webkit-keyframes top-bar {
  100% { -webkit-transform: rotate(45deg) scale(0.8); transform: rotate(45deg) scale(0.8);
    top: 8px;
  }
}
@keyframes top-bar {
  100% { -webkit-transform: rotate(45deg) scale(0.8); transform: rotate(45deg) scale(0.8);
    top: 8px;
  }
}
@-webkit-keyframes middle-bar {
  100% { opacity: 0}
}
@keyframes middle-bar {
  100% { opacity: 0}
}
@-webkit-keyframes bottom-bar {
  100% { -webkit-transform: rotate(-45deg) scale(0.8); transform: rotate(-45deg) scale(0.8);
         top: -8px;
       }
}
@keyframes bottom-bar {
  100% { -webkit-transform: rotate(-45deg) scale(0.8); transform: rotate(-45deg) scale(0.8);
         top: -8px;
       }
}
