.top {
  z-index: 5;
  color: $t-white-2;
  border: 1px solid $t-white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  position: relative;
  bottom: 20%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 60px auto;
  @media screen and #{$lg-break} {
    margin: 80px auto;
  }
  @media screen and #{$md-break} {
    margin: 40px auto;
  }
  &:hover {
    cursor: pointer;
    color: $t-grey;
  }
}
.top.fixed {
  display: none;
  background: $t-white;
  position: fixed;
  border: none;
  bottom: 15px;
  -webkit-transition: background ease-in-out 300ms;
  transition: background ease-in-out 300ms;
  left: 50%;
  -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0);
  i {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}

.top.normal {
  margin: 20px auto;
  @media screen and #{$md-break} {
    top: -30px;
  }
}

button {
  @extend %button;
}
