h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  color: $grey;
}
h4 {
  text-transform: uppercase;
  font-size: 0.9em;
  color: $grey;
}
h5 {
  font-size: 1.1em;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 5px;
  color: $light-grey;
}
p {
  font-size: 0.8em;
  font-style: italic;
  color: $light-grey;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
