.container {
  background: $white;
 .content {
   min-height: 78vh;
   max-width: 1400px;
   padding: 1% 0 1% 0;
   width: 100%;
   @media screen and #{$md-break} {
     padding-top: 0;
   }
    h2 {
      margin: 20px auto;
      width: auto;
      font-size: 2em;
      font-family: serif;
      border-bottom: none;
      @media screen and #{$md-break} {
      margin-top: 0;
      }
    }
    h4 {
      font-weight: bold;
      opacity: 1;
      -webkit-transition: opacity ease-in-out 200ms;
      transition: opacity ease-in-out 200ms;
      &:first-child {
        @media screen and #{$md-break} {
          opacity: 0;
        }
      }
      &:nth-child(n+2) {
        @media screen and #{$md-break} {
          display: none;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .image-container {
      .image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 33.33%;
        padding: 3px 5px;
        height: 100%;
        &:hover > .ember-view > .hover-text {
          cursor: pointer;
          opacity: 1;
        }
        img {
          max-height: 100%;
          max-width: 100%;
          width: 600px;
          -o-object-fit: cover;
             object-fit: cover;
          @media screen and #{$md-break} {
            height: 325px;
          }
        }
        @media screen and #{$lg-break} {
          width: 50%;
        }
        @media screen and #{$md-break} {
          margin-top: -15px;
          height: 400px;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }

}
.container {
  .hover-text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    width: 90%;
    height: 80%;
    background: $t-white-2;
    @extend %absolute-center;
    z-index: 3;
    opacity: 0;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    @media screen and #{$md-break} {
      -webkit-transform: translate(0,0);
              transform: translate(0,0);
      background: none;
      left: 0;
      top: auto;
      bottom: -20px;
      position: absolute;
      width: 100%;
      height: auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      opacity: 1;
    }
    @media screen and #{$sm-break} {
      bottom: -15px;
      height: 50px;
      padding: 10px;
    }
    small {
      font-size: .7em;
    }
    h2 {
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      @media screen and #{$md-break} {
        font-size: 1.2em;
      }
      @media screen and #{$sm-break} {
        font-size: 1em;
      }
    }
    h3 {
      margin: 10px 50px;
      padding: 10px;
      border-top: 1px solid $t-grey;
      color: $grey;
      @media screen and #{$md-break} {
        display: none;
      }
    }
  }
}

.image:hover > .hover-text {
  cursor: pointer;
  opacity: 1;
}
