.contact-about {
  max-width: $max-width;
  background: $white;
  margin: 0 auto;
  overflow: auto;
  .content {
    padding: 0;
    max-width: 800px;
    @media screen and #{$md-break} {
      max-width: 100%;
      padding: 0 30px;
    }
    h2 {
      margin-top: 20px;
      font-size: 2em;
      font-family: serif;
    }
    h4 {
      opacity: 1;
      -webkit-transition: opacity ease-in-out 200ms;
      transition: opacity ease-in-out 200ms;
      @media screen and #{$md-break} {
        opacity: 0;
      }
    }
    img {
      max-width: 100%;
    }
    .top {
      margin: 50px auto;
    }
  }
}


form {
  margin: 0 auto 20px auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  label {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    color: $grey;
    margin-top: 20px;
    font-size: .8em;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-indent: 10px;
    text-align: left;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    border-color: $t-grey;
    border-style: solid;
    border-width: 1px;
}
  input, select, button, textarea {
    font-family: 'Raleway', sans-serif;
    margin: 1%;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    height: 40px;
    font-size: .8em;
    text-indent: 10px;
    color: lighten($grey, 30%);
    &:focus, &:active {
      outline: none;
      border: 1px solid $light-grey;
      background: none;
    }
    @media screen and #{$md-break} {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
  }
  select {
    background: none;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border: none;
    outline: 1px solid $t-grey;
    color: lighten($grey, 30%);
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
  textarea {
    padding-top: 10px;
    height: 100px;
    max-height: 300px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    outline: 1px solid $t-grey;
    border: none;
  }
  button {
    max-width: 200px;
    margin: 10px auto;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    background: none;
    border: 1px solid $t-grey;
    -webkit-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
    &:hover {
      cursor: pointer;
      background: $grey;
      color: $white;
    }
  }
}
