<div id="top-of-page"></div>
<div class="contact-about">
  <div class="content">
    <h4>Erica Kait <em>Creative</em></h4>
    <h2>About Erica</h2>
    <p>I am so glad you are taking the time to look into my work. I am a wedding and portrait photographer based in Portland, OR - although I'm not against traveling! Photographing people is what I am most passionate about. I am a huge fan of simple, elegant portraits, beautiful backdrops, and soft, outdoor lighting. If that sounds like the kind of style you are looking for, please send me an email or give me a ring! I would love to hear more about the portrait session or wedding you have in mind over a cup of coffee.</p>

    <p>A little about me...my name is Erica Nafziger (Kaitlyn is my middle name, which is where the name Erica Kait Creative comes from) and I recently got married to a wonderful guy named Dan. And yes, that's us below being all bride and groomy on our wedding day. My husband and I live in SE Portland with our dog Duck. When I'm not photographing, you can find me at the dog park, reading a fantasy novel, rock climbing, drinking soup, or attempting to finish a cup of tea.</p>

    <p>Please don't hesitate to let me know if you have any questions, or if you would like more information about any of my packages.</p>

    <p>I hope to hear from you soon!</p>
    <p>Erica </p>

    <img src="https://ericanafziger.github.io/ericakaitcreative/img/our-wedding.JPG" alt="Erica and Dan's Wedding">

    <div class="top">
      <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
    </div>
  </div><!--end of content-->
</div><!--end of container-->
