<!--=================Start of Side Nav================-->

  <nav class="side-nav">
    <li><h2>{{#link-to 'index'}}Home{{/link-to}}</h2></li>
    <li class="side-dropdown"><h2>Info</h2>
      <ul class="side-drop-menu">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>Pricing & Packages</li>
      </ul>
    </li>
    <li class="side-dropdown"><h2>Work</h2>
      <ul class="side-drop-menu">
        <li>Weddings</li>
        <li>Portraits</li>
      </ul>
    </li>
    <li><h2>{{#link-to 'contact'}}Contact{{/link-to}}</h2></li>
    <li><h2>{{#link-to 'blog'}}Blog{{/link-to}}</h2></li>
    <li class="side-dropdown"><h2>Portals</h2>
      <ul class="side-drop-menu">
        <li>{{#link-to 'user'}}User Portal{{/link-to}}</li>
        <li>{{#link-to 'admin'}}Admin Portal{{/link-to}}</li>
      </ul>
    </li>  </nav>
  <div class="slide-nav-on">

  </div>

  <div class="wrap">

    <!--==================Start of Nav====================-->
    <nav class="nav-main">
      <ul>
        <li class="go-home">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="dropdown">Info +
          <ul class="dropdown-menu">
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li>Pricing & Packages</li>
          </ul>
        </li>
        <li class="dropdown">Work +
          <ul class="dropdown-menu">
            <li>Weddings</li>
            <li>Portraits</li>
          </ul></li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
        <li class="dropdown">Portals +
          <ul class="dropdown-menu">
            <li>{{#link-to 'user'}}User Portal{{/link-to}}</li>
            <li>{{#link-to 'admin'}}Admin Portal{{/link-to}}</li>
          </ul>
        </li>
      </ul>
      <div class="menu-bars">
        <div class="nav-line"></div>
        <div class="nav-line"></div>
        <div class="nav-line"></div>
      </div>
      <h4 class="title">Erica Kait <em>Creative</em></h4>
      <div class="bottom-border"></div>
    </nav>

    {{outlet}}

    <!--=================Start of Footer================-->
    <div class="footer blog">
      <div class="item-container">
        <div class="footer-item">
          <h4>Stay In Touch</h4>
          <p><a href="https://www.facebook.com/ericakaitcreative/">facebook</a> | <a href="https://www.instagram.com/ericakait/">instagram</a></p>
        </div>

        <div class="footer-item">
          <h4>The Blog</h4>
          <p><a href="blog.html">go to blog homepage</a></p>
        </div>

        <div class="footer-item">
          <h4>Contact</h4>
          <p><a href="contact.html">let's chat! ></a></p>
        </div>
      </div>
    </div><!--end of footer-->

  </div> <!--end of wrap-->
