<!--=================Start of Side Nav================-->

  <nav class="side-nav">
    <li><h2>{{#link-to 'index'}}Home{{/link-to}}</h2></li>
    <li class="side-dropdown"><h2>Info</h2>
      <ul class="side-drop-menu">
        <li>About</li>
        <li>Pricing & Packages</li>
      </ul>
    </li>
    <li class="side-dropdown"><h2>Work</h2>
      <ul class="side-drop-menu">
        <li>Weddings</li>
        <li>Portraits</li>
      </ul>
    </li>
    <li><h2>Contact</h2></li>
    <li><h2>{{#link-to 'blog'}}Blog{{/link-to}}</h2></li>
  </nav>
  <div class="slide-nav-on">

  </div>

  <div class="wrap">

    <!--==================Start of Nav====================-->
    <nav class="nav-main">
      <ul>
        <li class="go-home">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="dropdown">Info +
          <ul class="dropdown-menu">
            <li>About</li>
            <li>Pricing & Packages</li>
          </ul>
        </li>
        <li class="dropdown">Work +
          <ul class="dropdown-menu">
            <li>Weddings</li>
            <li>Portraits</li>
          </ul></li>
        <li>Contact</li>
        <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
        <li>{{#link-to 'admin'}}User Portal{{/link-to}}</li>
      </ul>
      <div class="menu-bars">
        <div class="nav-line"></div>
        <div class="nav-line"></div>
        <div class="nav-line"></div>
      </div>
      <h4 class="title">Erica Kait <em>Creative</em></h4>
      <div class="bottom-border"></div>
    </nav>

    {{outlet}}

  </div> <!--end of wrap-->
