<div id="top-of-page"></div>
<div class="contact-about">
  <div class="content">
    <h4>Erica Kait <em>Creative</em></h4>
    <h2>Contact</h2>
    <p>Ready to find out more?</p>
    <p>If you are interested in working together, send me an email, give me a ring, or shoot me a text. You can also fill out the form below to send me a message. I'd love to grab some coffee with you and chat about working together!</p>
    <p>Phone:
      <a href="tel:+19712699799">(971) 269-9799</a></p>

    <p>Email:
      <a href="mailto:ericakaitcreative@gmail.com">ericakaitcreative@gmail.com</a></p>

    <!--=================Start of Form================-->

    <form action="https://formspree.io/ericakaitcreative@gmail.com" method="POST">
      <input type="text" name="name one" placeholder="Party One's Full Name">
      <input type="text" name="name two" placeholder="Party Two's Full Name">
      <input type="email" name="email" placeholder="Email">
      <input type="text" name="phone" placeholder="Phone">
      <input type="date" name="event date">
      <input type="text" name="location" placeholder="Location">
      <label>Event Type:</label>
      <select name="event type">
        <option>Wedding</option>
        <option>Engagement</option>
        <option>Portraits</option>
        <option>Elopement</option>
        <option>Anniversary</option>
        <option>Other</option>
      </select>
      <textarea type="text" rows="3" name="about" placeholder="Tell me a bit about what you are looking for..."></textarea>
      <button type="submit">Send Email</button>
    </form>
    <img src="https://ericanafziger.github.io/ericakaitcreative/wedding-img/el51.jpg" alt="Ariel Washington Wedding">

    <div class="top">
      <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
    </div>
  </div><!--end of content-->
</div><!--end of container-->
