<div id="top-of-page"></div>
<div class="contact-about">
  <div class="content">
    <h4>Erica Kait <em>Creative</em></h4>
    <h2>User Login</h2>
    <p>Login below to access your account. Can't find your login details? Email me at <a href="mailto:ericakaitcreative@gmail.com">ericakaitcreative@gmail.com</a>.</p>

    <!--=================Start of Form================-->

    <form>
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <button type="submit">Submit</button>
    </form>
    <img src="https://ericanafziger.github.io/ericakaitcreative/blog/img/elisabeth/ew3.jpg" alt="Ariel Washington Wedding">

    <div class="top">
      <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
    </div>
  </div><!--end of content-->
</div><!--end of container-->
